.container_menu_card{
    display: grid;
    width:100vw;
    height: 85vh;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: repeat(24, 1fr);
    background-color: white;

}
.offer_left{
    display: flex;
    flex-direction: column;
    grid-column: 3  / 11;
    grid-row: 3 / 21 ;
    background-color: white;
}
.offer_right{
    display: flex;
    flex-direction: column;
    grid-column: 15 / 23    ;
    grid-row: 3 / 21;
    background-color: white;
}
.option_dish_one{
    display: flex;
    flex: 1;
    background-color: white;
}
.option_dish_two{
    display: flex;
    flex: 1;
    background-color: white;
}
.option_dish_three{
    display: flex;
    flex: 1;
    background-color: white;
}
.option_dish_four{
    display: flex;
    flex: 1;
    background-color:white;
}
.option_dish_five{
    display: flex;
    flex: 1;
    background-color: white;
}
.option_dish_six{
    display: flex;
    flex: 1;
    background-color: white;
}
.food_example_one{
    display: flex;
    background-color: white;
    width: 30%;
    height: 100%;
    background-image:url(../../photo_plate_one.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}


        
    

.food_example_two{
    display: flex;
    background-color:white;
    width: 30%;
    height: 100%;
    background-image: url(../../photo_plate_two.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;

}
.food_example_three{
    display: flex;
    background-color: white;
    width: 30%;
    height: 100%;
    background-image: url(../../photo_plate_three.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%
}
.text_price {
    display: flex;
    background-color: white;
    width: 70%;
    height: 100%;
    align-items: center;
    font-family: 'Lato',sans-serif;
    line-height: 1,5;
    margin-left: 5px;
}
.food_example_four{
    display: flex;
    background-color: white;
    width: 30%;
    height:100%;
    background-image: url(../../photo_plate_one.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

.food_example_five{
    display: flex;
    background-color: white;
    width: 30%;
    height: 100%;
    background-image: url(../../photo_plate_two.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

.food_example_six{
    display: flex;
    background-color: white;
    width: 30%;
    height: 100%;
    background-image: url(../../photo_plate_three.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 50% 50%;
}
