.container_menu_card{
    display: grid;
    width:100vw;
    height: 85vh;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: repeat(24, 1fr);
    background-color: chocolate;

}
.offer_left{
    display: flex;
    flex-direction: column;
    grid-column: 3  / 11;
    grid-row: 3 / 21 ;
    background-color: cornflowerblue;
}
.offer_right{
    display: flex;
    flex-direction: column;
    grid-column: 15 / 23    ;
    grid-row: 3 / 21;
    background-color: cornflowerblue;
}
.option_dish_one{
    display: flex;
    flex: 1;
    background-color: blueviolet;
}
.option_dish_two{
    display: flex;
    flex: 1;
    background-color: brown;
}
.option_dish_three{
    display: flex;
    flex: 1;
    background-color: chartreuse;
}
.option_dish_four{
    display: flex;
    flex: 1;
    background-color:darkmagenta;
}
.option_dish_five{
    display: flex;
    flex: 1;
    background-color: darkblue;
}
.option_dish_six{
    display: flex;
    flex: 1;
    background-color: darkslategray;
}
.food_example_one{
    display: flex;
    background-color: darkgoldenrod;
    width: 30%;
    height: 100%;
    background-image:url(../../photo_plate_one.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}
.text_price_one{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 70%;
    height: 100%;
    

    
}
.text_price_one > h1 {
    display: flex;
        
    
}
.food_example_two{
    display: flex;
    background-color:cadetblue;
    width: 30%;
    height: 100%;
    background-image: url(../../photo_plate_two.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;

}
.text_price_two{
    display: flex;
    background-color:coral;
    width: 70%;
    height: 100%;
}
.food_example_three{
    display: flex;
    background-color: darkgray;
    width: 30%;
    height: 100%;
    background-image: url(../../photo_plate_three.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%
}
.text_price_three{
    display: flex;
    background-color: hotpink;
    width: 70%;
    height: 100%;
}
.food_example_four{
    display: flex;
    background-color: greenyellow;
    width: 30%;
    height:100%;
    background-image: url(../../photo_plate_one.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}
.text_price_four{
    display: flex;
    background-color:darkorchid;
    width: 70%;
    height: 100%;
}
.food_example_five{
    display: flex;
    background-color: honeydew;
    width: 30%;
    height: 100%;
    background-image: url(../../photo_plate_two.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}
.text_price_five{
    display: flex;
    background-color: lightgreen;
    width: 70%;
    height: 100%;
}
.food_example_six{
    display: flex;
    background-color: lightsalmon;
    width: 30%;
    height: 100%;
    background-image: url(../../photo_plate_three.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 50% 50%;
}
.text_price_six{
    display: flex;
    background-color: firebrick;
    width: 70%;
    height: 100%;
}